.header-row {
  background-color: rgb(137, 135, 135);
  height: 40px;
  display: flex;
  align-items: center;
}

.header-roster-button,
.header-scoreboard-button,
.header-settings-button {
  background-color: darkgray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.header-roster-button:hover,
.header-scoreboard-button:hover,
.header-settings-button:hover {
    background-color: rgb(212, 211, 211);
}

.header-roster-button:active,
.header-scoreboard-button:active,
.header-settings-button:active {
  background-color: darkgray;
}

