.remove-button {
  font-weight: bold;
  background-color: rgb(188, 50, 50);
  color:white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: rgb(220, 66, 66);
}

.remove-button:active {
  background-color: rgb(188, 50, 50);
}

.roster-row {
  margin-bottom: 3px;
}

.name-input,
.number-input {
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  padding: 5px
}

.number-input {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}