.team-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-player-button {
  background-color: darkgray;
  border: none;
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-player-button:hover {
    background-color: rgb(212, 211, 211);
}

.add-player-button:active {
  background-color: darkgray;
}